<html>
    <li> Name : <%= person.name %></li>
    <li> height : <%= person.height %> </li>
    <li> Mass : <%= person.mass %> </li>
    <li> Hair color : <%= person.hair_color %> </li>
    <li> Skin color : <%= person.skin_color %> </li>
    <li> Eye color : <%= person.eye_color %> </li>
    <li> Birth year : <%= person.birth_year %> </li>
    <li> Gender : <%= person.gender %> </li>
    <li> Homeworld : <%= person.homeworld %> </li>
    <li> Films : <%= person.films %> </li>
    <li> Vehicles : <%= person.vehicles %></li>
    <li> Starships : <%= person.starships %></li>
    <li> Url : <%= person.url %></li>
</html>